.buttton-style{
    background-color: blueviolet;
    color:#fff;
    height: 40px;
    font-size: 16px;
    border:none;
    margin-top: 30px;
}
.buttton-style-del{
    background-color: red;
    color:#fff;
    height: 40px;
    font-size: 16px;
    border:none;
}
.buttton-style-edit{
    background-color: blue;
    color:#fff;
    height: 40px;
    font-size: 16px;
    border:none;
    margin-right: 10px;
}
.add-todo div p{
    font-size: 15px;
    font-weight: 600;
}
.add-todo div input{
    height: 31px;
    width: 350px;
    font-size: 15px;
}